<center>
    <p>&copy;OCA</p>
</center>
<script src="http://localhost/consultorios/Resource/js/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="http://localhost/consultorios/Resource/js/sweetalert2.all.min.js"  type="text/javascript"></script>
    <script src="http://localhost/consultorios/Resource/materialize/js/materialize.min.js" type="text/javascript"></script>
    <script src="http://localhost/consultorios/Resource/js/jquery.validate.js"  type="text/javascript"></script>
    <script src="http://localhost/consultorios/Resource/js/config.js"  type="text/javascript"></script>
    <script src="http://localhost/consultorios/Resource/js/funciones.js" type="text/javascript"></script>
    <script src="http://localhost/consultorios/Resource/js/Pacientes.js"  type="text/javascript"></script>
    <script src="http://localhost/consultorios/Resource/js/Usuarios.js"  type="text/javascript"></script>
    <script src="http://localhost/consultorios/Resource/js/Principal.js"  type="text/javascript"></script>
    <script src="http://localhost/consultorios/Resource/js/app.js"  type="text/javascript"></script>
</body>
</html>