/*Segmento para el login*/
.isa{
    background-image: url("/consultorios/Resource/images/isa.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: white;
   /* position: absolute;*/
    bottom: 0;
    width: 100%;
    height: 15vh;
    color: white;
    margin: -4vh 0vh;
}
.logueo{
    width: 47%;
    /*height: 31vh;*/
}
.inicia{
    background-image: url("/consultorios/Resource/images/isi.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: white;
   /* position: absolute;*/
    bottom: 0;
    width: 47%;
    height: 31vh;
    color: white;
    margin: 2vh 1vh;
}

.btn-floating{
    background: url(../images/iconos/ic_reorder_whites.png) no-repeat;
}

.footerC{
    background: blue;
}

.center.footerC{
    background-color: black;
}

footer.footerC {
    background-image: url("/consultorios/Resource/images/pie.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 14vh;
    color: white;
}


.side-nav {
    top: 0;
    margin: 0;
    height: calc(100% +60px);
    background-color: #fff;
    overflow-y: auto;
    will-change: transform;
}
.Message {
    color: brown;
}



@media(max-width: 1024px){
    .side-nav{
        display: none;
    }
    .container2 {
        margin: 10px 10px 10px;
    }
    .nav-wrapper.greenBG {
    background-image: url("/consultorios/Resource/images/encabezado.png");
    background-repeat: no-repeat;
    background-position: center;
   /* background-size: contain;*/
    background-color: white;
    background-size: cover;
    width: 100% !important;
    height: 100% !important;
   
}
}


@media(min-width:992px){
    .container {
        max-width: 50%;
        margin-top: 7vh;
    }
    .side-nav{
        max-width: 13%;
        display: block;
        margin-top: 50px ;
    }
    .container2 {
        width: 76%;
        margin: -500px 290px 0px;
    }
    .nav-wrapper.greenBG {
        background-image: url("/consultorios/Resource/images/encabezado.png");
        background-repeat: no-repeat;
        background-position: center;
       /* background-size: contain;*/
        background-color: white;
        background-size: cover;
        width: 100% !important;
        height: 135% !important;
       
    }
}

@media only screen and (min-width: 601px){
/*nav{    height: 12vh;}*/
.nav .sidenav-trigger{margin:10vh 18px}
}

@media only screen and (min-width: 1200px){
    /*nav{        height: 20vh;    }*/

}

/*Creates table with scrollable tbody*/
tbody {
    display:block;
    height:300px;
    overflow:auto;
  }
  thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
  }
  thead {
    width: calc( 100% - 1em )
  }
  table {
    width:100%;
  }