
.btn-floating{
    background: url(../images/iconos/ic_reorder_whites.png) no-repeat;
}

.side-nav {
    top: 0;
    margin: 0;
    height: calc(100% +60px);
    background-color: #fff;
    overflow-y: auto;
    will-change: transform;
}
#indexMessage {
    color: brown;
}

@media(max-width: 1024px){
    .side-nav{
        display: none;
    }
    .container2 {
        margin: 10px 10px 10px;
    }
}
@media(min-width:992px){
    .container {
        max-width: 30%;
    }
    .side-nav{
        max-width: 13%;
        display: block;
    }
    .container2 {
        width: 76%;
        margin: -270px 290px 0px;
    }
}