<div class="container2">
    <!--div class="row">
        <div class="input-field col s0">
            <a class="waves-effect waves-ligth btn modal-trigger"
                href="#modalRSC">Reporte de consultas</a>
               
        </div>
    </div>
    <div id="modalRSC" class="modal modal-fixed-footer">
        <form class="col s12" id="validate" method="POST">
            <div class="modal-content">
                <table class="table">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Consultorio</th>
                            <th>Total de consultas</th>                           
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Edificio de Rectoría</td>
                            <td>3</td>                           
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Facultad de Ciencias</td>
                            <td>6</td>                           
                        </tr>

                    </thead>
                    <tbody id="consultasDatos">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                
            </div>
        </form>
    </div-->
    <div class="row">
        <div class="input-field col s0">
            <a class="waves-effect waves-ligth btn modal-trigger" href="#modalRSC"
            onclick='iniciaConsultoriosSemanas()'>Reporte semanal por consultorio</a>

        </div>
    </div>
    <div id="modalRSC" class="modal modal-fixed-footer">
        <form class="col s12" id="validate" method="POST">
            <div class="modal-content">
                <center>
                    <h5>Reporte semanal por consultorio</h5>
                </center>

                <div class="row">
                    <div class="input-field col s6">
                        <select id="selectConsultorio" required>
                        </select>
                        <label>Selecciona consultorio</label>
                    </div>
                    <div class="input-field col s6">
                        <select id="selectRango" required>
                        </select>
                        <label>Selecciona rango de fecha a consultar</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s9">
                        <!--href="#modalConsulta"-->
                        <a class="waves-effect waves-ligth btn modal-trigger"
                           id="btnMuestraReporte">Ver Reporte</a>

                    </div>
                   
                </div>
                <div class="row">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>No. Espacio</th>
                                <th>Nombre Espacio</th>
                                <th>Nombre de Consultorio</th>
                                <!--th>Diagnostico</th-->
                                <th>Consultas</th>
                            </tr>
                        </thead>
                        <tbody id="reporte">
                        </tbody>
                    </table>
                </div>

            </div>
            <div id="oculta" class="modal-footer">
                
                <!--label id="Total" class="text-left Message"></label-->
                <!--button id="btnPDFReporte" class="waves-effect waves-light btn">
        Reporte PDF
    </button-->
            </div>
        </form>
        <!--Moidal que muestra el reporte-->
        <!--div id="modalConsulta" class="modal modal-fixed-footer">
            <form class="col s12" id="validate2" method="POST">
                <div class="modal-content">
                    <center>
                        <h5>Reporte semanal por consultorio</h5>
                    </center>

                </div>
                <div class="modal-footer">
                    <label id="registrarMessage" class="text-left Message"></label>
                    <button id="btnMuestraReporte" class="waves-effect waves-light btn">
                        Mostrar Consultas
                    </button>
                </div>
            </form>
            

        </div-->
    </div>
    <!--fin modal de historial-->
</div>