<div class="container2">
    <div class="row">
        <div class="input-field col s6">
        <ul class="collection with-header">
            <li class="collection-header"><h4>Formatos descargables:</h4></li> 
            <li class="collection-item"><div>Receta médica<a href="../assets/descargables/FORMATO_PARA_RECETA_MÉDICA.pdf"  target="_blank"class="secondary-content"><i class="material-icons">archive</i></a></div></li>
            <li class="collection-item"><div>Referencia a servicios de salud<a href="../assets/descargables/FORMATO_PARA_REFERENCIAR_PACIENTES.pdf"  target="_blank" class="secondary-content"><i class="material-icons">archive</i></a></div></li>
            <li class="collection-item"><div>Inventario de consultorio médico<a href="../assets/descargables/FORMATO_PARA_INVENTARIO_DE_CONSULTORIO_MÉDICO.pdf"  target="_blank" class="secondary-content"><i class="material-icons">archive</i></a></div></li>
            <li class="collection-item"><div>Justificante médico<a href="../assets/descargables/FORMATO_PARA_JUSTIFICANTE_MÉDICO.pdf"  target="_blank" class="secondary-content"><i class="material-icons">archive</i></a></div></li>
            <li class="collection-item"><div>Consentimiento informado<a href="../assets/descargables/FORMATO_PARA_CONSENTIMIENTO _INFORMADO.pdf"  target="_blank" class="secondary-content"><i class="material-icons">archive</i></a></div></li>
            <li class="collection-item"><div>Formato semestral de seguimiento del PIUS para estudiantes<a href="../assets/descargables/FORMATO_SEMESTRAL_DE_SEGUIMIENTO_DEL_PIUS_PARA_ESTUDIANTES.pdf"  target="_blank" class="secondary-content"><i class="material-icons">archive</i></a></div></li>
         
                    </ul>
          </div>
    </div>
</div>