<div class="container2">
    <div class="row">
        <div class="input-field col s6">
        <ul class="collection with-header">
            <li class="collection-header"><h4>Formatos descargables</h4></li> 
            <li class="collection-item"><div>Receta médica<a href="../assets/descargables/DescargaEjemplo.docx"  target="_blank"class="secondary-content"><i class="material-icons">archive</i></a></div></li>
                <li class="collection-item"><div>Referencia a servicios de salud<a href="../assets/descargables/DescargaEjemplo.docx"  target="_blank" class="secondary-content"><i class="material-icons">archive</i></a></div></li>
                    <li class="collection-item"><div>Inventario<a href="../assets/descargables/DescargaEjemplo.docx"  target="_blank" class="secondary-content"><i class="material-icons">archive</i></a></div></li>
                        <li class="collection-item"><div>Justificante<a href="../assets/descargables/DescargaEjemplo.docx"  target="_blank" class="secondary-content"><i class="material-icons">archive</i></a></div></li>
          </ul>
          </div>
    </div>
</div>