<div class="container2">
  <h5>Registro de pacientes</h5>

  <div class="row">
    <div class="input-field col s0">
      <a
        onclick="restablecerPaciente();"
        class="waves-effect waves-ligth btn modal-trigger"
        href="#modal1"
        >Nuevo</a
      >
    </div>
    <div class="input-field col s6">
      <input
        id="filtrarPaciente"
        type="text"
        placeholder="Buscar paciente"
        onkeyup="getPacientes()"
        id=""
      />
      <label for="filtrar">Buscar paciente</label>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
       <th>Id</th> 
      <th>Nombre</th>
      <th>Ap. Paterno</th>
     <th> Ap. Materno</th>
     <th> Telefono</th>
      <th>Centro de Costos</th>
      <th>Tipo Paciente</th>
     <th> Opciones</th>
    </tr>
    </thead>
    <tbody id="resultPaciente">

    </tbody>
  </table>
  <!--Modal Structure-->
  <div id="modal1" class="modal modal-fixed-footer">
    <form class="col s12" id="validate"  method="POST">
      <div class="modal-content">
        <center>
          <h5>Datos del paciente</h5>
        </center>
        <div class="row">
          <div class="row">
            <div class="input-field col s6">
              <input
                placeholder="Nombre"
                name="nombre"
                id="nombre"
                type="text"
                class="validate"
                required
                onkeyup="copiarNombre()"
                
              />
              <label class="error" for="nombre">Nombre</label>
            </div>
            <div class="input-field col s6">
              <input
                placeholder="Apellido paterno"
                name="paterno"
                id="paterno"
                type="text"
                class="validate"
                required
                onkeyup="copiarNombre()"
                
              />
              <label class="error" for="paterno">Apellido Paterno</label>
            </div>
            <div class="input-field col s6">
              <input
                placeholder=" Apellido materno"
                name="materno"
                id="materno"
                type="text"
                class="validate"
                onkeyup="copiarNombre()"
                
              />
              <label class="error" for="nombre">Apellido Materno</label>
            </div>
            <div class="input-field col s6">
              <input
                placeholder="Fecha de nacimiento"
                name="fechaNac"
                id="fechaNac"
                type="date"
                class="validate"
                required
                onchange="calcularEdad(event);"
              />
              <label class="error" for="fechaNac">Fecha de nacimiento</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input
                placeholder="Telefono celular"
                name="telefonoCel"
                id="telefonoCel"
                type="number"
                class="validate"
                required
               
              />
              <label class="error" for="telefonoCel">Telefono</label>
            </div>
            <div class="input-field col s6">
              <select id="estadoCiv" required>
              
              </select>
              <label>Estado Civil</label>
            </div>
          </div>
          <div class="row">
            
            <div class="input-field col s6">
              <select id="sexo" required  onchange="habilitarSexo();">
                <option value="" disabled selected >Elige una opción</option>
                <option value="1">Mujer</option>
                <option value="2" >Hombre</option>
                <option value="3">Otro</option>
              </select>
              <label>Sexo</label>
            </div>

            <div class="input-field col s6">
              <input
                placeholder="Otro sexo"
                id="otro_sexo"
                name="otro_sexo"
                type="text"
                class="validate"
                disabled
              />
              <label class="error" for="otro_sexo">Otro sexo</label>
            </div>
            
          </div>
          <div class="row">
            <div class="input-field col s6">
              <select id="centroCosto" required>
               
              </select>
              <label>Centro de costos</label>
            </div>
            <div class="input-field col s6">
              <input
                placeholder="Departamento"
                id="departamento"
                name="departamento"
                type="text"
                class="validate"
                required
               
              />
              <label class="error" for="departamento">Departamento</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <select id="tipoPaciente" required>
               
              </select>
              <label>Tipo de paciente</label>
            </div>
             <div class="input-field col s6">
              <select id="nivelAcademico" required>
                <option value="" disabled selected>Elige una opción</option>
                <option value="1">Pasante de licenciatura</option>
                <option value="2">Licenciatura</option>
                <option value="3">Maestría</option>
                <option value="4">Especialidad</option>
                <option value="5">Doctorado</option>
                <option value="6">Medio Superior</option>
              </select>
              <label>Nivel académico</label>
            </div>
            
          </div>
         
        </div>
  
        
          <center>
            <h5>Datos de la consulta médica</h5>
          </center>
          <div class="row">
            <div class="row">
              <div class="input-field col s9">
                <input disabled value="I am not editable" id="nombrePaciente" type="text" class="validate">
                <label for="disabled">Nombre del Paciente</label>
              </div>
              <div   class="input-field col s3">
                <input disabled value=0 id="edadPaciente" type="number" min="0" class="validate">
                <label for="disabled">Edad</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s10">
                <p>Población de riesgo</p>
                <div class="input-field col s5">
                  <p>
                    <label>
                      <input type="checkbox" name="asma" id="asma">
                      <span>Asma</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input type="checkbox" name="cancer" value="cd" id="cancer" />
                      <span>Cáncer</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input type="checkbox" id="diabetes" name="diabetes"/>
                      <span>Diabetes</span></label>
                  </p>
                  <p>
                    <label>
                      <input type="checkbox" id="embarazo" name="embarazo" />
                      <span>Embarazo</span></label>
                  </p>
                  <p>
                    <label>
                      <input type="checkbox" id="autoinmunes" name="autoinmunes" />
                      <span>Enfermedades autoinmunes</span></label>
                  </p>
                  <p>
                    <label>
                      <input type="checkbox" id="epoc" name="epoc" />
                      <span>EPOC</span></label>
                  </p>
  
                </div>
                <div class="input-field col s5">
                  <p>
                    <label>
                      <input type="checkbox" id="hipertension" name="hipertension" />
                      <span>Hipertensión</span></label>
                  </p>
                  <p>
                    <label>
                      <input type="checkbox" id="lactancia" name="lactancia" />
                      <span>Lactancia</span></label>
                  </p>
                  <p>
                    <label>
                      <input type="checkbox" id="mayorEdad"  name="mayorEdad"/>
                      <span>Mayor de 60 años</span></label>
                  </p>
                  <p>
                    <label>
                      <input type="checkbox" id="obesidad" name="obesidad" />
                      <span>Obesidad</span></label>
                  </p>
                  <p>
                    <label>
                      <input type="checkbox" id="rinitis" name="rinitis" />
                      <span>Rinitis alérgica</span></label>
                  <p>
                    <label>
                      <input type="checkbox" id="transplantes" name="transplantes" />
                      <span>Transplantes</span></label>
                  </p>
                  </p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <select id="tipoAtencion" required>
                  <option value="" disabled selected>Elige una opción</option>
                  <option value="1">Enfermedades mentales</option>
                  <option value="2">Enfermedades físicas</option>
                  <option value="3">Lesiones</option>
                  <option value="5">Urgencias</option>
                </select>
                <label>Tipo de atención</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s4">
                <input placeholder="FC" name="frecCardiaca" id="frecCardiaca" type="text" class="validate" required />
                <label class="error" for="frecCardiaca">Frecuencia Cardiaca</label>
              </div>
              <div class="input-field col s4">
                <input placeholder="FR" name="frecRespiratoria" id="frecRespiratoria" type="text" class="validate"
                  required />
                <label class="error" for="frecRespiratoria">Frecuencia Respiratoria</label>
              </div>
              <div class="input-field col s4">
                <input placeholder="°C" name="temperatura" id="temperatura" type="text" class="validate" required />
                <label class="error" for="temperatura">Temperatura</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s4">
                <input placeholder="T/A" name="tarterial" id="tarterial" type="text" class="validate" required />
                <label class="error" for="tarterial">Tensión Arterial</label>
              </div>
              <div class="input-field col s4">
                <input placeholder="cm" name="talla" id="talla" type="text" class="validate" required />
                <label class="error" for="talla">Talla</label>
              </div>
              <div class="input-field col s4">
                <input placeholder="kg" name="peso" id="peso" type="text" class="validate" required />
                <label class="error" for="peso">Peso</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <textarea placeholder="Descripción" name="descripcion" id="descripcion" class="materialize-textarea"></textarea>
                <span class="error" for="descripcion">Descripción</span>
              </div>
              <div class="input-field col s12">
                <textarea id="diagnostico" name="diagnostico" class="materialize-textarea"></textarea>
                <label class="error" for="diagnostico">Diagnóstico</label>
              </div>
              <div class="input-field col s12">
                <textarea id="tratamiento" name="tratamiento" class="materialize-textarea"></textarea>
                <label class="error" for="tratamiento">Tratamiento</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s10">              
                <p>Medicina preventiva</p>
                <div class="input-field col s5">
                  <p>
                    <label>
                      <input type="checkbox" name="atencionPsico" id="atencionPsico" >
                      <span>Atención psicológica</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input type="checkbox" name="cronico" value="cd" id="cronico" />
                      <span>Crónico degenerativas</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input type="checkbox" id="embarazoLac" name="embarazoLac" />
                      <span>Embarazo y lactancia</span></label>
                  </p>
                  <p>
                    <label>
                      <input type="checkbox" id="higBucal" name="higBucal" />
                      <span>Higiene bucal</span></label>
                  </p>
                 
                </div>
                <div class="input-field col s5">
                  <p>
                    <label>
                      <input type="checkbox" id="higColum" name="higColum" />
                      <span>Higiene de columna</span></label>
                  </p>
                  <p>
                  <label>
                    <input type="checkbox" id="higPer" name="higPer" />
                    <span>Higiene personal</span></label>
                  </p>
                <p>
                  <label>
                    <input type="checkbox" id="nutricion" name="nutricion" />
                    <span>Nutrición</span></label>
                  </p>
                <p>
                  <label>
                    <input type="checkbox" id="eduSexual" name="eduSexual" />
                    <span>Plátias de educacion y salud sexual</span></label>
                  </p>
                </div>
              </div>
            </div>
  
            <div class="input-field col s6">
              <input placeholder="describe" name="ompreventiva" id="ompreventiva" type="text" class="validate" />
              <label class="error" for="ompreventiva">Otra medicina preventiva</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s3">
              <P>Ambulancia</P>
              <form action="#" id="ambulancia">
                <p>
                  <label class="radio-inline">
                    <input name="ambulancia" type="radio" />
                    <span>Si</span>
                  </label>
                  <label class="radio-inline">
                    <input name="ambulancia" type="radio" />
                    <span>No</span>
                  </label>
                </p>
              </form>
            </div>
            <div class="input-field col s3">
              <P>Referenciado</P>
              <form action="#" id="referenciado">
                <p>
                  <label class="radio-inline">
                    <input name="referenciado" type="radio" />
                    <span>Si</span>
                  </label>
                  <label class="radio-inline">
                    <input name="referenciado" type="radio" />
                    <span>No</span>
                  </label>
                </p>
              </form>
            </div>
            <div class="input-field col s6">
              <input placeholder="describe" name="lugarreferencia" id="lugarreferencia" type="text" class="validate"
                required />
              <label class="error" for="lugarreferencia">Lugar de referencia</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <textarea id="observaciones" name="observaciones" class="materialize-textarea"></textarea>
              <label class="error" for="descripcion">Observaciones</label>
            </div>
  
          </div>
        </div>
      <div class="modal-footer">
        <label id="registrarMessage" class="text-left Message"></label>
        <button
          id="btnLogin"
          class="waves-effect waves-light btn"
        >
          Registrar
        </button>
      </div>
    </form>
  </div>
</div>
