<div class="container2">
  <h5>Registro de pacientes</h5>

  <div class="row">
    <div class="input-field col s0">
      <a
        onclick="restablecerPaciente();"
        class="waves-effect waves-ligth btn modal-trigger"
        href="#modal1"
        >Nuevo</a
      >
    </div>
    <div class="input-field col s6">
      <input
        id="filtrarPaciente"
        type="text"
        placeholder="Buscar paciente"
        onkeyup="getPacientes()"
        id=""
      />
      <label for="filtrar">Buscar paciente</label>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
       <th>Id</th> 
      <th>Nombre</th>
      <th>Ap. Paterno</th>
     <th> Ap. Materno</th>
     <th> Telefono</th>
      <th>Centro de Costos</th>
      <th>Tipo Paciente</th>
     <th> Opciones</th>
    </tr>
    </thead>
    <tbody id="resultPaciente">

    </tbody>
  </table>
  <!--Modal Structure-->
  <div id="modal1" class="modal modal-fixed-footer">
    <form class="col s12" id="validate"  method="POST">
      <div class="modal-content">
        <center>
          <h5>Datos del paciente</h5>
        </center>
        <div class="row">
          <div class="row">
            <div class="input-field col s6">
              <input
                placeholder="Nombre"
                name="nombre"
                id="nombre"
                type="text"
                class="validate"
                required
                
              />
              <label class="error" for="nombre">Nombre</label>
            </div>
            <div class="input-field col s6">
              <input
                placeholder="Apellido paterno"
                name="paterno"
                id="paterno"
                type="text"
                class="validate"
                required
              
              />
              <label class="error" for="paterno">Apellido Paterno</label>
            </div>
            <div class="input-field col s6">
              <input
                placeholder=" Apellido materno"
                name="materno"
                id="materno"
                type="text"
                class="validate"
              
              />
              <label class="error" for="nombre">Apellido Materno</label>
            </div>
            <div class="input-field col s6">
              <input
                placeholder="Fecha de nacimiento"
                name="fechaNac"
                id="fechaNac"
                type="date"
                class="validate"
                required
                
              />
              <label class="error" for="fechaNac">Fecha de nacimiento</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input
                placeholder="Telefono celular"
                name="telefonoCel"
                id="telefonoCel"
                type="number"
                class="validate"
                required
              />
              <label class="error" for="telefonoCel">Telefono</label>
            </div>
            <div class="input-field col s6">
              <select id="sexo" required>
                <option value="" disabled selected>Elige una opción</option>
                <option value="1">Casado</option>
                <option value="2">Divorciado</option>
                <option value="3">Soltero</option>
                <option value="4">Unión libre</option>
              </select>
              <label>Estado Civil</label>
            </div>
          </div>
          <div class="row">
            
            <div class="input-field col s6">
              <select id="sexo" required  onchange="habilitarSexo();">
                <option value="" disabled selected >Elige una opción</option>
                <option value="1">Mujer</option>
                <option value="2" >Hombre</option>
                <option value="3">Otro</option>
              </select>
              <label>Sexo</label>
            </div>

            <div class="input-field col s6">
              <input
                placeholder="Otro sexo"
                id="otro_sexo"
                name="otro_sexo"
                type="text"
                class="validate"
                disabled
              />
              <label class="error" for="otro_sexo">Otro sexo</label>
            </div>
            
          </div>
          <div class="row">
            <div class="input-field col s6">
              <select id="centroCosto" required>
               
              </select>
              <label>Centro de costos</label>
            </div>
            <div class="input-field col s6">
              <input
                placeholder="Departamento"
                id="departamento"
                name="departamento"
                type="text"
                class="validate"
                required
               
              />
              <label class="error" for="departamento">Departamento</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <select id="sexo" required>
                <option value="" disabled selected>Elige una opción</option>
                <option value="1">Académico</option>
                <option value="2">Administrativo de confianza</option>
                <option value="3">Alumno</option>
                <option value="4">Asimilables al salario</option>
                <option value="5">Becario</option>
                <option value="6">CAF</option>
                <option value="7">Eventual</option>
                <option value="8">Honorarios</option>
                <option value="9">Sindicalizado</option>
              </select>
              <label>Tipo de paciente</label>
            </div>
            
          </div>
          <div class="row">
            <div class="input-field col s6">
              <select id="sexo" required>
                <option value="" disabled selected>Elige una opción</option>
                <option value="1">Pasante de licenciatura</option>
                <option value="2">Licenciatura</option>
                <option value="3">Maestría</option>
                <option value="4">Especialidad</option>
                <option value="5">Doctorado</option>
                <option value="6">Medio Superior</option>
              </select>
              <label>Nivel académico</label>
            </div>
            
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <label id="registrarMessage" class="text-left Message"></label>
        <button
          id="btnLogin"
          class="waves-effect waves-light btn"
        >
          Enviar
        </button>
      </div>
    </form>
  </div>
</div>
