<div class="container2">
  <h5>Registro de pacientes</h5>

  <div class="row">
    <div class="input-field col s0">
      <a onclick="restablecerPaciente();" class="waves-effect waves-ligth btn modal-trigger" href="#modalNPaciente">Nuevo</a>
    </div>
    <div class="input-field col s6">
      <input id="filtrarPaciente" type="text" placeholder="Buscar paciente" onkeyup="getPacientes()" id="" />
      <label for="filtrar">Buscar paciente</label>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Ap. Paterno</th>
        <th> Ap. Materno</th>
        <th>Centro de Costos</th>
        <th>Tipo Paciente</th>
	<th>Historia Clínica</th>
       <!--  <th> Opciones</th> -->
      </tr>
    </thead>
    <tbody id="resultPaciente">

    </tbody>
  </table>
  <!--Modal Structure-->
  <div id="modalNPaciente" class="modal modal-fixed-footer">
    <form id="formularioPaciente" class="col s12" id="validate" method="POST" autocomplete="off" >
        <div class="modal-content">
            <center>
                <h5>Datos del paciente</h5>
            </center>
            <div class="row">
                <div class="row">
                    <div class="input-field col s6">
                        <input placeholder="Nombre" name="nombre" id="nombre" type="text" class="validate" required
                               onkeyup="copiarNombre()" />
                        <label class="error" for="nombre">Nombre</label>
                    </div>
                    <div class="input-field col s6">
                        <input placeholder="Apellido paterno" name="paterno" id="paterno" type="text" class="validate" required
                               onkeyup="copiarNombre()" />
                        <label class="error" for="paterno">Apellido Paterno</label>
                    </div>
                    <div class="input-field col s6">
                        <input placeholder=" Apellido materno" name="materno" id="materno" type="text" class="validate"
                               onkeyup="copiarNombre()" required />
                        <label class="error" for="nombre">Apellido Materno</label>
                    </div>
                    <div class="input-field col s6">
                        <input placeholder="Fecha de nacimiento" name="fechaNac" id="fechaNac" type="date" class="validate"
                               required onchange="calcularEdad(event);" />
                        <label class="error" for="fechaNac">Fecha de nacimiento</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input placeholder="Telefono celular" name="telefonoCel" id="telefonoCel" type="number" class="validate"
                               required />
                        <label class="error" for="telefonoCel">Telefono</label>
                    </div>
                    <div class="input-field col s6">
                        <select id="estadoCiv" required>
                        </select>
                        <label>Estado Civil</label>
                    </div>
                </div>
                <div class="row">

                    <div class="input-field col s6">
                        <select id="sexo" required onchange="habilitarSexo();">
                            <option value="" disabled selected>Elige una opción</option>
                            <option value="1">Mujer</option>
                            <option value="2">Hombre</option>
                            <option value="3">Otro</option>
                        </select>
                        <label>Sexo</label>
                    </div>

                    <div class="input-field col s6">
                        <input placeholder="Otro sexo" id="otro_sexo" name="otro_sexo" type="text" class="validate" disabled />
                        <label class="error" for="otro_sexo">Otro sexo</label>
                    </div>

                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <select id="centroCosto" required>
                        </select>
                        <label>Centro de costos</label>
                    </div>
                    <div class="input-field col s6">
                        <input placeholder="Departamento" id="departamento" name="departamento" type="text" />
                        <label class="error" for="departamento">Departamento</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <select id="tipoPaciente" required>
                        </select>
                        <label>Tipo de paciente</label>
                    </div>
                    <div class="input-field col s6">
                        <select id="nivelAcademico" required>
                            <option value="" disabled selected>Elige una opción</option>
                            <option value="1">Pasante de licenciatura</option>
                            <option value="2">Licenciatura</option>
                            <option value="3">Maestría</option>
                            <option value="4">Especialidad</option>
                            <option value="5">Doctorado</option>
                            <option value="6">Medio Superior</option>
                        </select>
                        <label>Nivel académico</label>
                    </div>

                </div>

            </div>


            <center>
                <h5>Datos de la consulta médica</h5>
            </center>
            <div class="row">
                <div class="row">
                    <div class="input-field col s9">
                        <input disabled value="I am not editable" id="nombrePacienteN" type="text" class="validate">
                        <label for="disabled">Nombre del Paciente</label>
                    </div>
                    <div class="input-field col s3">
                        <input disabled value=0 id="edadPacienteN" type="number" min="0" class="validate">
                        <label for="disabled">Edad</label>
                    </div>
                </div>
                <div class="row">
                    <div id="poblacion" class="input-field col s10">
                        <p>Población de riesgo</p>
                        <div class="input-field col s5">
                            <p>
                                <label>
                                    <input type="checkbox" name="poblacionRiesgo" id="asmaN" value="2">
                                    <span>Asma</span>
                                </label>
                            </p>
                            <p>
                                <label>
                                    <input type="checkbox" name="poblacionRiesgo" id="cancerN" value="3" />
                                    <span>Cáncer</span>
                                </label>
                            </p>
                            <p>
                                <label>
                                    <input type="checkbox" id="diabetesN" value="4" name="poblacionRiesgo" />
                                    <span>Diabetes</span>
                                </label>
                            </p>
                            <p>
                                <label>
                                    <input type="checkbox" id="embarazoN" value="5" name="poblacionRiesgo" />
                                    <span>Embarazo</span>
                                </label>
                            </p>
                            <p>
                                <label>
                                    <input type="checkbox" id="autoinmunesN" value="6" name="poblacionRiesgo" />
                                    <span>Enfermedades autoinmunes</span>
                                </label>
                            </p>
                            <p>
                                <label>
                                    <input type="checkbox" id="epocN" value="7" name="poblacionRiesgo" />
                                    <span>EPOC</span>
                                </label>
                            </p>

                        </div>
                        <div class="input-field col s5">
                            <p>
                                <label>
                                    <input type="checkbox" id="hipertensionN" value="8" name="poblacionRiesgo" />
                                    <span>Hipertensión</span>
                                </label>
                            </p>
                            <p>
                                <label>
                                    <input type="checkbox" id="lactanciaN" value="9" name="poblacionRiesgo" />
                                    <span>Lactancia</span>
                                </label>
                            </p>
                            <p>
                                <label>
                                    <input type="checkbox" id="mayorEdadN" value="10" name="poblacionRiesgo" />
                                    <span>Mayor de 60 años</span>
                                </label>
                            </p>
                            <p>
                                <label>
                                    <input type="checkbox" id="obesidadN" value="11" name="poblacionRiesgo" />
                                    <span>Obesidad</span>
                                </label>
                            </p>
                            <p>
                                <label>
                                    <input type="checkbox" id="rinitisN" value="12" name="poblacionRiesgo" />
                                    <span>Rinitis alérgica</span>
                                </label>
                            </p>
                            <p>
                                <label>
                                    <input type="checkbox" id="transplantesN" value="13" name="poblacionRiesgo" />
                                    <span>Transplantes</span>
                                </label>
                            </p>
                            <p>
                                <label>
                                    <input type="checkbox" id="ningunaN" value="1" name="sinpoblacionRiesgo" />
                                    <span>Ninguna</span>
                                </label>
                            </p>

                        </div>
                    </div>
                    <div class="input-field col s6">
                        <input placeholder="describe" name="otraPoblacionRiesgo" id="otraPoblacionRiesgoN" type="text" class="validate" />
                        <label class="error" for="otraPoblacionRiesgo">Otra población de riesgo</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <select id="tipoAtencionN" onchange="selectatencion2Nuevo();" required>
                        </select>
                        <label>Tipo de atención</label>
                    </div>
                    <div class="input-field col s6">
                        <select id="tipoAtencion2N" required>
                        </select>
                        <label>Tipo de atención 2</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s4">
                        <input placeholder="FC" name="frecCardiaca" id="frecCardiacaN" type="number" class="validate" required />
                        <label class="error" for="frecCardiaca">Frecuencia Cardiaca</label>
                    </div>
                    <div class="input-field col s4">
                        <input placeholder="FR" name="frecRespiratoria" id="frecRespiratoriaN" type="number" class="validate"
                               required />
                        <label class="error" for="frecRespiratoria">Frecuencia Respiratoria</label>
                    </div>
                    <div class="input-field col s4">
                        <input placeholder="°C" name="temperatura" id="temperaturaN" type="number" class="validate" required />
                        <label class="error" for="temperatura">Temperatura</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s4">
                        <input placeholder="T/A" name="tarterial" id="tarterialN" type="text" class="validate" required />
                        <label class="error" for="tarterial">Tensión Arterial</label>
                    </div>
                    <div class="input-field col s4">
                        <input placeholder="%" name="saturacion" id="saturacionN" type="number" class="validate" required />
                        <label class="error" for="saturacion">Saturación</label>
                    </div>
                    <div class="input-field col s4">
                        <input placeholder="cm" name="talla" id="tallaN" type="number" class="validate" required />
                        <label class="error" for="talla">Talla</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s4">
                        <input placeholder="kg" name="peso" id="pesoN" type="number" class="validate" required />
                        <label class="error" for="peso">Peso</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea placeholder="Descripción" name="descripcion" id="descripcionN" class="materialize-textarea"
                                  required></textarea>
                        <label class="error" for="descripcion">Descripción</label>
                    </div>
                    <div class="input-field col s12">
                        <textarea id="diagnosticoN" name="diagnostico" class="materialize-textarea" required></textarea>
                        <label class="error" for="diagnostico">Diagnóstico</label>
                    </div>
                    <div class="input-field col s12">
                        <textarea id="tratamientoN" name="tratamiento" class="materialize-textarea" required></textarea>
                        <label class="error" for="tratamiento">Tratamiento</label>
                    </div>
                </div>
                <div class="row">
                    <div id="medicinaN" class="input-field col s10">
                        <p>Medicina preventiva</p>
                        <div class="input-field col s5">
                            <p>
                                <label>
                                    <input type="checkbox" name="medicinaPrev" value="1" id="atencionPsicoN">
                                    <span>Atención psicológica</span>
                                </label>
                            </p>
                            <p>
                                <label>
                                    <input type="checkbox" name="medicinaPrev" value="2" id="cronicoN" />
                                    <span>Crónico degenerativas</span>
                                </label>
                            </p>
                            <p>
                                <label>
                                    <input type="checkbox" id="embarazoLacN" value="3" name="medicinaPrev" />
                                    <span>Embarazo y lactancia</span>
                                </label>
                            </p>
                            <p>
                                <label>
                                    <input type="checkbox" id="higBucalN" value="4" name="medicinaPrev" />
                                    <span>Higiene bucal</span>
                                </label>
                            </p>

                        </div>
                        <div class="input-field col s5">
                            <p>
                                <label>
                                    <input type="checkbox" id="higColumN" value="5" name="medicinaPrev" />
                                    <span>Higiene de columna</span>
                                </label>
                            </p>
                            <p>
                                <label>
                                    <input type="checkbox" id="higPerN" value="6" name="medicinaPrev" />
                                    <span>Higiene personal</span>
                                </label>
                            </p>
                            <p>
                                <label>
                                    <input type="checkbox" id="nutricionN" value="7" name="medicinaPrev" />
                                    <span>Nutrición</span>
                                </label>
                            </p>
                            <p>
                                <label>
                                    <input type="checkbox" id="eduSexualN" value="8" name="medicinaPrev" />
                                    <span>Pláticas de educacion y salud sexual</span>
                                </label>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="input-field col s6">
                    <input placeholder="describe" name="ompreventiva" id="ompreventivaN" type="text" class="validate" />
                    <label class="error" for="ompreventiva">Otra medicina preventiva</label>
                </div>
            </div>
            <div class="row">
                <div id="ambula" class="input-field col s3">
                    <P>Ambulancia</P>
                    <p>
                        <label class="radio-inline">
                            <input name="ambulanciaN" type="radio" value="1" />
                            <span>Si</span>
                        </label>
                        <label class="radio-inline">
                            <input name="ambulanciaN" type="radio" value="0" />
                            <span>No</span>
                        </label>
                    </p>
                </div>
                <div id="refer" class="input-field col s3">
                    <P>Referenciado</P>
                    <p>
                        <label class="radio-inline">

                            <input name="referenciadoN" id="referenciadoN" type="radio" value="1" />
                            <span>Si</span>
                        </label>
                        <label class="radio-inline">
                            <input name="referenciadoN" id="noreferenciadoN" type="radio" value="0" />
                            <span>No</span>
                        </label>
                    </p>
                </div>
                <div class="input-field col s6">
                    <input placeholder="describe" name="lugarreferencia" id="lugarreferenciaN" type="text" class="validate" />
                    <label class="error" for="lugarreferencia">Lugar de referencia</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="observacionesN" name="observaciones" class="materialize-textarea"></textarea>
                    <label class="error" for="descripcion">Observaciones</label>
                </div>
            </div>
            <div class="row">
                <div id="tableSugerencias" class="input-field col s12">
                    <input name="idPacienteRelacionado" id="idPacienteRelacionado" type="hidden" value="0" />
                    <h6>Sugerencias de historias clínicas registradas:</h6>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id HC</th>
                                <th>Num. Expediente</th>
                                <th>Id Paciente</th>
                                <th>Nombre</th>
                                <th>Ap. Paterno</th>
                                <th> Ap. Materno</th>
                                <th>Centro de Costos</th>
                                <th> Opciones</th>
                            </tr>
                        </thead>
                        <tbody id="registrosCHistorial">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
      <div class="modal-footer">
        <label id="registrarMessage" class="text-left Message"></label>
        <button id="btnNuevoPac" class="waves-effect waves-light btn">
          Registrar
        </button>
      </div>
    </form>
  </div>
</div>